fastapi==0.116.1
uvicorn[standard]==0.35.0
SQLAlchemy==2.0.43
psycopg2-binary==2.9.10
pydantic[email]==2.11.7
PyJWT
pwdlib[argon2]==0.2.1
python-multipart==0.0.30
pytest==8.4.1
httpx==0.28.1
python-dotenv==1.0.1